@model IEnumerable<string>

@{
    ViewData["Title"] = "Home page";
}

<h1>Cities</h1>
<br />
<br />
<ul class="list">
    @foreach (string city in Model)
    {
        <li>@city</li>
    }
</ul>

<div>@ViewBag.InstanceId_1</div>
<div>@ViewBag.InstanceId_2</div>
<div>@ViewBag.InstanceId_3</div>