@{
    ViewBag.Title = "Home";
}

<h1>Home page</h1> <br />
<h2>Preenchendo pagina</h2> <br />
<div class="box">
    Environment is @ViewBag.CurrentEnvironment
</div>

<environment include="Development">
    <button class="button button-blue-back">Button only for development environment</button>
</environment>

<environment exclude="Development">
    <button class="button button-green-back">Button except for development environment</button>
</environment>