<div class="list-container">

    @{
        ViewData["listTitle"] = "Updated";
    }

    <h3>@ViewBag.listTitle</h3>

    <ul class="list">
        @foreach(string city in ViewBag.listItems)
        {
            <li>@city</li>
        }
        
        @*<li>New York</li>
        <li>Paris</li>
        <li>Jaicos</li>
        <li>Tokio</li>
        <li>Rome</li>*@
    </ul>

</div>