<h1>Home page</h1>
<h2>Home page of the project</h2>

@{
    ListModel model = new ListModel();
    model.ListTitle = "Countries";
    model.ListItems = new List<string>()
    {
        "Brazil",
        "Egypt",
        "Russia"
    };
}

<partial name="_ListPartialView" model="model"></partial>