@using RazorViews.Models
@using static RazorViews.Models.Person;

@{
    List<Person>? people = (List<Person>?)@ViewData["people"];
    //local function
    string FormattingPeople(Person person)
    {
        if (person.DateOfBirth != null)
        {
            double age = Math.Round(((TimeSpan)(DateTime.Now - person.DateOfBirth)).TotalDays / 365.25);
            return $"{person.Name} nasceu em {person.DateOfBirth.Value.ToString("dd/MM/yyyy")}, tem {age} anos e o seu gênero é {person.PersonGender}";
        }
        else
        {
            return $"{person.Name} não possui dados sobre o dia do seu nascimento e o seu gênero é {person.PersonGender}";
        }
    }
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Minha primeira página</title>
</head>
<body>
    <h1>Escrevendo algo aqui</h1>
    <h2>@ViewData["appTitle"]</h2>
    <form>
        <label>Nome</label>
        <input type="text" /> <br>
        <label>Email</label>
        <input type="email" /> <br>
        <label>Password</label>
        <input type="password" /> <br>
        <label>Confirm Password</label>
        <input type="password" /> <br>
    </form>
    @foreach (var person in people)
    {
        <h3>@FormattingPeople(person)</h3>
    }
</body>
</html>