@using RazorViews.Models
@using static RazorViews.Models.Person;

@{
    List<Person>? people = (List<Person>?)@ViewData["people"];
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Minha primeira página</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Escrevendo algo aqui</h1>
        <h2>@ViewData["appTitle"]</h2>
        @foreach (var person in people)
        {
            <div class="box float-left w-50">
                <h3>@person.Name</h3>
                <table class="table w-100"> 
                    <tbody>
                        <tr>
                            <th><h4>Gender</h4></th>
                            <th><h4>Date of birth</h4></th>
                        </tr>
                        <tr class="text-center">
                            <td>@person.PersonGender</td>
                            @if (person.DateOfBirth != null)
                            {
                                <td>@person.DateOfBirth.Value.ToString("dd/MM/yyyy")</td>
                            }
                            else
                            {
                                <td>No data</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</body>
</html>