<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>All Products</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>

<body>
    <div class="page-content">
        <h1>All products</h1>
    </div>
</body>

</html>